@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "https://fonts.googleapis.com/css?family=Source Code Pro|Jost";

:root {
  --menu-width: 11rem;

  --dark: rgba(7, 7, 7, 1);
  --light: rgba(244, 203, 164, 1);
  --red: rgba(146, 20, 12, 1);
  --yellow: rgba(255, 165, 82, 1);
  --green: rgba(121, 180, 115, 1);
  --accent: rgba(48, 131, 220, 1);
  --dimmed-text-dark: rgba(146, 80, 18, 1);
  --dimmed-text-light: rgba(73, 73, 73, 1);
  --buttons--primary: rgba(122, 158, 126, 1);

  --gradient-1-dark: linear-gradient(
    144deg,
    #ffa552 17.66%,
    rgba(146, 20, 12, 0) 50%
  );
  --gradient-2-dark: linear-gradient(
    144deg,
    #79b473 17.66%,
    rgba(255, 165, 82, 0) 50%
  );
  --gradient-3-dark: linear-gradient(
    143deg,
    #1e81f0 17.7%,
    rgba(146, 20, 12, 0) 50%
  );

  --gradient-1-light: linear-gradient(144deg, #1e81f0 17.66%, #79b473 50%);
  --gradient-2-light: linear-gradient(
    144deg,
    #92140c 17.66%,
    rgba(255, 165, 82, 0) 50%
  );
  --gradient-3-light: linear-gradient(143deg, #1e81f0 17.7%, #79b473 70.82%);

  --background: var(--dark);
  --foreground: var(--light);
  --dimmed: var(--dimmed-text-dark);

  --gradient-1: var(--gradient-1-dark);
  --gradient-2: var(--gradient-2-dark);
  --gradient-3: var(--gradient-3-dark);

  scroll-behavior: smooth;
}

.light {
  --background: var(--light);
  --foreground: var(--dark);
  --dimmed: var(--dimmed-text-light);

  --gradient-1: var(--gradient-1-light);
  --gradient-2: var(--gradient-2-light);
  --gradient-3: var(--gradient-3-light);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}
.wrapper {
  overflow-x: hidden;
  position: relative;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Source Code Pro;
}

main {
  margin-right: var(--menu-width);
  border-right: var(--foreground) 1px solid;
}

h1.bold {
  font-family: Jost;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: normal;
}

h3,
th {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

p,
td,
a {
  font-size: 1.125rem;
  line-height: normal;
}

a {
  color: var(--foreground);
  text-decoration: none;
  transition: 0.5s;
}

img {
  max-width: 100%;
  height: auto;
}

#preloader {
  background: var(--background);
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
  transition: 1s ease-out;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--foreground);
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--foreground);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes gradientSlide {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, -10%);
  }
}

.about__main {
  max-width: 27rem;
  padding: 10rem 10% 1rem 10%;
}

.gradients-1 {
  position: absolute;
  left: 30dvw;
  top: 20dvh;
  z-index: -1;
}

.gradient-1 {
  position: absolute;
  top: 0;
  left: 10rem;

  animation: 2s ease-in-out 0s infinite alternate gradientSlide;

  width: 25rem;
  height: 25rem;
  border-radius: 25rem;
  background: var(--gradient-1);
  filter: blur(181px);
}

.gradient-2 {
  position: absolute;
  top: 10rem;
  left: 0;

  animation: 2s ease-in-out 2s infinite alternate gradientSlide;

  width: 18.5rem;
  height: 18.5rem;

  border-radius: 18.5rem;
  background: var(--gradient-2);
  filter: blur(181px);
}

.gradient-3 {
  position: absolute;
  left: 37.5%;
  top: 80%;

  width: 17.5rem;
  height: 17.5rem;

  border-radius: 17.5rem;
  background: var(--gradient-3);
  filter: blur(181px);
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--menu-width);
  z-index: 10;
}

.mode-toggle {
  background: none;
  border: none;
  padding: 0;
  color: var(--foreground);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  :root {
    --menu-width: 0;
  }
  .nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--background);
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    align-content: center;
    border-top: 1px var(--foreground) solid;
  }
  .nav__item {
    height: 100%;
  }
  .nav__name {
    display: none;
  }
  .nav__icon,
  #light-mode-toggle {
    font-size: 1.5rem;
  }

  .nav__mode-toggle {
    display: flex;
    justify-content: center;
  }
  .nav__list {
    justify-content: space-around;
    align-content: center;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

ul {
  list-style-type: none;
}

.active-link {
  color: var(--dimmed);
}

.mode-toggle:hover,
a:hover {
  color: var(--accent);
}

a:hover > svg {
  transform: rotate(-10deg) scale(1.1);
}

hr {
  border: 0;
  background: var(--foreground);
  height: 1px;
}

th {
  text-align: left;
  padding-bottom: 1.25rem;
}

td {
  padding-bottom: 0.5rem;
}

.small {
  font-size: 1rem;
  color: var(--dimmed);
}

.about__skills {
  display: flex;
  justify-content: end;
  padding: 1.5rem;
}

.about__skills h1 {
  padding-bottom: 2rem;
}

.about__skills-container {
  display: grid;
  max-width: 24.5rem;
  flex-grow: 1;
}

@media screen and (min-width: 650px) {
  nav {
    height: 100dvh;
  }
  .nav__menu {
    display: grid;
    height: 100%;
    justify-content: space-evenly;
  }
  .nav__list {
    padding-right: 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
  }
  .nav__mode-toggle {
    top: 2rem;
    right: calc(var(--menu-width) / 2);
    transform: translateX(50%);
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .nav__link {
    justify-content: end;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    text-align: right;
  }
  #light-mode-toggle {
    font-size: 2.5rem;
  }
}

#projects h1 {
  text-align: center;
}

.cards_container {
  margin: auto;
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.projects__card {
  padding: 1rem;
  max-width: 60rem;
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.projects__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.projects__card:nth-child(even) .projects__container {
  flex-direction: row-reverse;
}

.projects__image {
  width: 40vw;
  max-width: 30rem;
  min-width: 18rem;
  aspect-ratio: 1.6;
  object-fit: cover;
}

.projects__details-tech-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.projects__details-links {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.projects__details-list {
  max-width: 20rem;
  display: grid;
  gap: 1rem;
  align-content: space-around;
}

#contacts {
  display: flex;
  overflow: hidden;
}

.contacts__main {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  padding: 2rem 0 5rem 0;
  flex-grow: 1;
}

.contacts__border {
  width: var(--menu-width);
  border-right: 1px var(--foreground) solid;
}

#contact_me {
  display: grid;
  gap: 1rem;
}

#can_find {
  display: grid;
  gap: 1.5rem;
}

.socials__container {
  display: flex;
  justify-content: space-around;
}

.hidden {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.76, 0.05, 0.86, 0.06),
    transform 1s ease-out;
}

.show {
  opacity: 1;
}

.about__main.hidden {
  transform: translate(-10%);
}

.about__main.show {
  transform: translate(0%);
}

.projects__card.hidden,
.contacts__main.hidden
{
  transform: translatey(10%);
}

.projects__card.show,
.contacts__main.show {
  transform: translatey(0%);
}

.image__container {
  overflow: hidden;
}

.projects__card.hidden img {
  transform: translatey(100%);
  transition: 0.8s cubic-bezier(0.69, 0.22, 0, 1.01) 0.1s;
}

.projects__card.show img {
  transform: translatey(0);
}
