@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "https://fonts.googleapis.com/css?family=Inconsolata|Julius Sans One";

:root {
  --dark: rgba(7, 7, 7, 1);
  --light: rgba(244, 203, 164, 1);
  --red: rgba(146, 20, 12, 1);
  --yellow: rgba(255, 165, 82, 1);
  --green: rgba(121, 180, 115, 1);
  --accent: rgba(48, 131, 220, 1);
  --dimmed-text-dark: rgba(146, 80, 18, 1);
  --dimmed-text-light: rgba(73, 73, 73, 1);
  --buttons--primary: rgba(122, 158, 126, 1);

  --gradient-1-dark: linear-gradient(
    144deg,
    #ffa552 17.66%,
    rgba(146, 20, 12, 0) 50%
  );
  --gradient-2-dark: linear-gradient(
    144deg,
    #79b473 17.66%,
    rgba(255, 165, 82, 0) 50%
  );
  --gradient-3-dark: linear-gradient(
    143deg,
    #1e81f0 17.7%,
    rgba(146, 20, 12, 0) 50%
  );

  --gradient-1-light: linear-gradient(144deg, #1e81f0 17.66%, #79b473 50%);
  --gradient-2-light: linear-gradient(
    144deg,
    #92140c 17.66%,
    rgba(255, 165, 82, 0) 50%
  );
  --gradient-3-light: linear-gradient(143deg, #1e81f0 17.7%, #79b473 70.82%);

  --background: var(--dark);
  --foreground: var(--light);
  --dimmed: var(--dimmed-text-dark);

  --gradient-1: var(--gradient-1-dark);
  --gradient-2: var(--gradient-2-dark);
  --gradient-3: var(--gradient-3-dark);

  scroll-behavior: smooth;
}

.light {
  --background: var(--light);
  --foreground: var(--dark);
  --dimmed: var(--dimmed-text-light);

  --gradient-1: var(--gradient-1-light);
  --gradient-2: var(--gradient-2-light);
  --gradient-3: var(--gradient-3-light);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Inconsolata;
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  justify-content: center;
}

main {
  flex-grow: 2;
}

h1.bold {
  font-family: Julius Sans One;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: normal;
}

h3,
th {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: normal;
}

p,
td,
a {
  font-size: 1.125rem;
  line-height: normal;
}

a {
  color: var(--foreground);
  text-decoration: none;
  transition: 0.5s;
}

img {
  max-width: 100%;
  height: auto;
}

#preloader {
  background: var(--background);
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
  transition: 1s ease-out;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--foreground);
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--foreground);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.about__main {
  max-width: 400px;
  margin: auto;
}

.about__main h1 {
  margin-bottom: 1rem;
}

.mode-toggle {
  background: none;
  border: none;
  padding: 0;
  color: var(--foreground);
  cursor: pointer;
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100dvh;
}

.navbar__nav {
  padding: 0.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.nav__mode-toggle {
  margin-bottom: auto;
}

.nav__dummy {
  margin-top: auto;
}

.nav__link {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

.active-link {
  color: var(--dimmed);
}

.mode-toggle:hover,
a:hover {
  color: var(--accent);
}

a:hover > svg {
  transform: rotate(-10deg) scale(1.1);
}

hr {
  border: 0;
  background: var(--foreground);
  height: 1px;
}

th {
  text-align: left;
  padding-bottom: 1.25rem;
}

td {
  padding-bottom: 0.5rem;
}

.small {
  font-size: 1rem;
  color: var(--dimmed);
}

#projects h1 {
  text-align: center;
}

.cards_container {
  margin: auto;
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.projects__card {
  padding: 1rem;
  max-width: 60rem;
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.projects__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.projects__card:nth-child(even) .projects__container {
  flex-direction: row-reverse;
}

.projects__image {
  width: 40vw;
  max-width: 30rem;
  min-width: 18rem;
  aspect-ratio: 1.6;
  object-fit: cover;
}

.projects__details-tech-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.projects__details-links {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.projects__details-list {
  max-width: 20rem;
  display: grid;
  gap: 1rem;
  align-content: space-around;
}

#contacts {
  display: flex;
  overflow: hidden;
}

.contacts__main {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  padding: 2rem 0 5rem 0;
  flex-grow: 1;
}

.contacts__border {
  width: var(--menu-width);
  border-right: 1px var(--foreground) solid;
}

#contact_me {
  display: grid;
  gap: 1rem;
}

#can_find {
  display: grid;
  gap: 1.5rem;
}

.socials__container {
  display: flex;
  justify-content: space-around;
}

.hidden {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.76, 0.05, 0.86, 0.06),
    transform 1s ease-out;
}

.show {
  opacity: 1;
}

.about__main.hidden {
  transform: translate(-10%);
}

.about__main.show {
  transform: translate(0%);
}

.projects__card.hidden,
.contacts__main.hidden
{
  transform: translatey(10%);
}

.projects__card.show,
.contacts__main.show {
  transform: translatey(0%);
}

.image__container {
  overflow: hidden;
}

.projects__card.hidden img {
  transform: translatey(100%);
  transition: 0.8s cubic-bezier(0.69, 0.22, 0, 1.01) 0.1s;
}

.projects__card.show img {
  transform: translatey(0);
}
