<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Daniil Davtian</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="preloader">
    <span class="loader">
      <span class="loader-inner"></span>
    </span>
  </div>

  <nav class="navbar">
    <ul class="navbar__nav">
      <li class="nav__mode-toggle">
        <button class="mode-toggle nav__link">
          <i id="light-mode-toggle" class="nf nf-oct-sun"></i>
        </button>
      </li>
      <li class="nav__item">
        <a href="#home" class="nav__link active-link">
          <i class="nf nf-fa-home nav__icon"></i>
        </a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav__link">
          <i class="nf nf-md-book_account nav__icon"></i>
        </a>
      </li>
      <li class="nav__item">
        <a href="#projects" class="nav__link">
          <i class="nf nf-md-lightbulb nav__icon"></i>
        </a>
      </li>
      <li class="nav__item">
        <a href="#contacts" class="nav__link">
          <i class="nf nf-fa-envelope nav__icon"></i>
        </a>
      </li>
      <li class="nav__dummy"></li>
    </ul>
  </nav>

  <main>
    <section id="about">
      <div class="about__main hidden">
        <h1 class="bold">Hi! My name is <br> Daniil Davtian</h1>
        <h3>and I’m a starting Full-stack Web Developer based in Kyiv, Ukraine</h3>
      </div>
    </section>

    <section id="projects">

    </section>

    <section id="contacts">
    </section>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
